@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0.25rem);
  }
}

.dateRangePicker {
  position: relative;
}

.dateRangePickerCalendar {
  position: absolute;
  border-radius: 0.25rem;
  background: #fff;
  padding: 1rem;
  width: 16rem;
  animation-name: fadeInDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.dateRangePickerCalendarControls {
  display: flex;
  justify-content: space-between;
}

.dateRangePickerNextPreviousButtons {
  display: inline-flex;
  align-self: flex-end;
  gap: 0.25rem;
}

.dateRangePickerCalendarDays {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.25rem;
}

.dateRangePickerCalendarDay {
  flex: 1 0 12%;
}
