@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0.25rem);
  }
}

.dateRangePicker {
  position: relative;
}

.dateRangePickerCalendar {
  position: absolute;
  border-radius: 0.25rem;
  background: #fff;
  padding: 1rem;
  width: 15.5rem;
  animation-name: fadeInDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.dateRangePickerCalendarControls {
  display: flex;
  justify-content: space-between;
}

.dateRangePickerNextPreviousButtons {
  display: inline-flex;
  align-self: flex-end;
  gap: 0.25rem;
}

.dateRangePickerCalendarDays {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.dateRangePickerCalendarDay {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: white;
  border: none;
}

.dateRangePickerCalendarDay.selected {
  background: #1976d2;
  color: #fff;
}

.dateRangePickerCalendarDay.dayInRange {
  background: rgba(25, 118, 210, 0.2);
}

.dateRangePickerCalendarDay:hover {
  background: #ccc;
  color: #000;
}

.dateRangePickerBackgroundUnderlay {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
